.checkbox {
  appearance: none; /* Remove default checkbox styling */
  background-color: white; /* Background color */
  border-radius: 0%; /* Make checkbox rounded */
}

.checkbox:checked {
  background-image: url('./assets/images/icon-check.svg'), linear-gradient(to right, skyblue, violet); /* Path to your SVG and gradient */
  background-size: auto, cover;
  background-repeat: no-repeat;
  background-position: center;
  border-width: 0; 
 /*border-color: green; /* Optional: Change border color when checked */
}

.checkbox:hover {
  border-color: linear-gradient(to right, skyblue, violet); /* Change to a solid color */
  border-width: 2px; /* Specify the border width */
  border-style: solid; /* Specify the border style */
}