@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Josefin Sans';
  src: url('./assets/fonts/JosefinSans-VariableFont_wght.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('./assets/fonts/JosefinSans-VariableFont_wght.ttf') format('woff2');
  font-weight: 700;
  font-style: normal;
}